html {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --small: min(1.5vw, 1.5vh);
  --medium: min(2vw, 2vh);
  --large: min(2.5vw, 2.5vh);
  --columns: min(12vw, 12vh);
  --images: min(4vw, 4vh);
  --barchat: min(50vw, 50vh);
}

#root,
body,
.App {
  height: 100%;
  overflow: hidden;
}
.weather-dashboard {
  width: 100%;
  height: 50%;
  border: solid black 1px;
  position: relative;
}

section.min-max-temp {
  border: solid black 1px;
  position: absolute;
  top: 5%;
  left: 2%;
  width: fit-content;
  font-size: var(--medium);
  display: flex;
  gap: var(--small);
  padding: var(--small);

  & p {
    text-align: center;
  }

  & .container {
    display: flex;

    align-items: center;
  }
  & img {
    display: block;
    width: var(--images);
    height: var(--images);
  }
}

.left,
.right {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

section.current-temp {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 10%;
  left: 50%;
  font-size: var(--medium);
}

section.barchart-container {
  width: var(--barchat);
  border: solid black 1px;

  position: absolute;
  bottom: 7%; /* Position at the bottom */
  left: 2%;
}

section.highlights {
  position: absolute;
  bottom: 7%; /* Position at the bottom */
  right: 2%;
  display: flex;
  flex-direction: column;
  gap: var(--small);
  font-size: var(--small);

  & .sunrise-sunset {
    display: flex;
    flex-direction: column;
  }
  & img {
    width: var(--images);
  }
  & .subcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: var(--columns) var(--columns) var(--columns);

  width: fit-content;
  gap: var(--medium);
}

.weather-card {
  border: solid black 1px;
  border-radius: var(--small);
  padding: var(--small);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--small);
  & p {
    text-align: center;
  }
}
