html {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --cool-shadow: 0 0 5px #00000080;
  --small: min(1.5vw, 1.5vh);
  --medium: min(2vw, 2vh);
  --large: min(2.5vw, 2.5vh);
  --columns: min(12vw, 12vh);
  --images: min(4vw, 4vh);
  --barchat: min(50vw, 50vh);
}

#root,
body,
.App {
  height: 100%;
  overflow: hidden;
}
.weather-dashboard {
  width: fit-content;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: auto;
  height: 50%;
  border: solid black 1px;
  position: relative;
  align-items: center;
  justify-items: center;
  grid-template-areas:
    "highlights temperature"
    " highlights     barchart ";
}

.temperature {
  grid-area: temperature;
  display: flex;
  gap: var(--small);
}

section.min-max-temp {
  border-radius: var(--small);
  width: fit-content;
  font-size: var(--medium);
  display: flex;
  gap: var(--small);
  padding: var(--small);

  & p {
    text-align: center;
  }

  & .container {
    display: flex;

    align-items: center;
  }
  & img {
    display: block;
    width: var(--images);
    height: var(--images);
  }
}

.left,
.right {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.current-temp,
.min-max-temp,
.barchart-container > * {
  box-shadow: var(--cool-shadow);
}

section.current-temp {
  padding: var(--small);
  font-size: var(--medium);
  grid-area: current-temp;
  border-radius: var(--small);
}

section.barchart-container {
  width: var(--barchat);
  padding: var(--large);
  grid-area: barchart;
}

section.highlights {
  grid-area: highlights;

  display: flex;
  flex-direction: column;
  gap: var(--small);
  font-size: var(--small);

  & .sunrise-sunset {
    display: flex;
    flex-direction: column;
  }
  & img {
    width: var(--images);
  }
  & .subcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: var(--columns) var(--columns) var(--columns);

  width: fit-content;
  gap: var(--medium);
}

.weather-card {
  box-shadow: var(--cool-shadow);
  border-radius: var(--small);
  padding: var(--small);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--small);
  & p {
    text-align: center;
  }
}
